[class*="col-"] {
    padding: 0;
}


/* ======================================================== */

/* ==================== MIX / CAMPUR ====================== */

html,
body {
    height: 100%;
}

/* ======================================================== */

/* ============================================= */

/* ==================== A ====================== */

a {
    text-decoration: none !important;
}

/* ============================================= */

/* ==================== B ====================== */

body {
    scroll-behavior: smooth;
    background-color: #eee !important;
}

.brandSite {
    padding: 5px 0;
    text-align: center;
}

/* ============================================= */

/* ==================== C ====================== */
.dashboardDatabase {
    margin-bottom: 10px;
}

.dashboardDatabase .card-body,
.dashboardDatabase .card-header {
    border: none !important;
    background-color: transparent;
    font-weight: bold;
}

.dashboardDatabase .card-body {
    padding: 40px 0;
}

.dashboardDatabase .card-footer a {
    color: white;
}

.categoriActive {
    color: white;
    /* background-color: rgb(1, 129, 129) !important; */
    border-bottom: 2px solid rgb(0, 107, 107) !important;
}

.collapsemenu {
    display: block;
}

.container {
    width: 94%;
    height: auto;
    overflow: hidden;
    max-width: unset;
}

@media screen and (max-width: 870px) {
    .collapsemenu {
        display: none !important;
    }
}

.clearfix::after {
    display: block !important;
    clear: both !important;
    content: "" !important;
    margin-bottom: 5px !important;
}

/* ============================================= */

/* ==================== D ====================== */

.dashboardCount {
    height: 200px;
}

.dashboardCount {
    color: white;
    box-shadow: 0 1px 3px 1px #12343b;
    background-color: #2d545e;
}

/* ============================================= */

/* ==================== E ====================== */

/* ============================================= */

/* ==================== F ====================== */
form {
    height: auto;
    padding: 10px 2%;
}

/* ============================================= */

/* ==================== G ====================== */

/* ============================================= */

/* ==================== H ====================== */

html {
    scroll-behavior: smooth;
}

header {
    height: 60px;
    width: 100%;
    color: white;
    background-color: #0d768d;
}

header a,
header a:hover {
    color: white;
}

header div {
    height: 100%;
}

header div:first-of-type {
    font-size: 85%;
}

/* ============================================= */

/* ==================== I ====================== */

/* ============================================= */

/* ==================== J ====================== */

/* ============================================= */

/* ==================== K ====================== */

/* ============================================= */

/* ==================== L ====================== */

/* ============================================= */

/* ==================== M ====================== */

.market .card {
    height: 230px;
    font-weight: bolder;
}

.market .card-body {
    padding: 35px 0 0;
}

.market a {
    color: white;
}

.market:first-of-type .card {
    background-color: rgb(0, 182, 106);
    color: white;
    transition: background-color 0.1s ease-in-out;
}

.market:first-of-type .card:hover {
    background-color: rgb(0, 160, 93);
    color: white;
}

.market:last-of-type .card {
    background-color: rgb(1, 218, 182);
    color: white;
    transition: background-color 0.1s ease-in-out;
}

.market:last-of-type .card:hover {
    background-color: rgb(0, 190, 159);
    color: white;
}

.market i {
    font-size: 55px;
}

/* ============================================= */

/* ==================== N ====================== */

/* .navbar {
    padding: 0px 2.5% !important;
    background-color: white;
    align-items: unset !important;
} */

.navbar {
    background-color: white;
    padding: 0px 2.5% !important;
    align-items: unset !important;
}


.navbar a {
    color: black;
}

.navbar div {
    align-items: center;
    margin: 0 0.1em;
    margin: 0 auto;
    font-size: 15px;
}

.navbar li {
    list-style-type: none;
    height: 100%;
    padding: 5px 0.7em;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
}

.navbar li.active {
    border-bottom: 2px solid rgb(0, 119, 93);
}

.navbar li a.active {
    background-color: rgb(0, 119, 93) !important;
}

/* ============================================= */

/* ==================== O ====================== */

/* ============================================= */

/* ==================== P ====================== */

/* ============================================= */

/* ==================== Q ====================== */

/* ============================================= */

/* ==================== R ====================== */

/* ============================================= */

/* ==================== S ====================== */

/* ============================================= */

/* ==================== T ====================== */

.tableData {
    text-align: center;
    border-top: 2px solid rgba(0, 107, 98, 1) !important;
}

/* ============================================= */

/* ==================== U ====================== */

/* ============================================= */

/* ==================== V ====================== */

/* ============================================= */

/* ==================== W ====================== */

/* ============================================= */

/* ==================== X ====================== */

/* ============================================= */

/* ==================== Y ====================== */

/* ============================================= */

/* ==================== Z ====================== */

/* ============================================= */
